build/TreeWatcher/Analysis-00.toc
build/TreeWatcher/base_library.zip
build/TreeWatcher/EXE-00.toc
build/TreeWatcher/PKG-00.toc
build/TreeWatcher/PYZ-00.pyz
build/TreeWatcher/PYZ-00.toc
build/TreeWatcher/TreeWatcher.pkg
build/TreeWatcher/warn-TreeWatcher.txt
build/TreeWatcher/xref-TreeWatcher.html
build/TreeWatcher/localpycs/pyimod01_archive.pyc
build/TreeWatcher/localpycs/pyimod02_importers.pyc
build/TreeWatcher/localpycs/pyimod03_ctypes.pyc
build/TreeWatcher/localpycs/pyimod04_pywin32.pyc
build/TreeWatcher/localpycs/struct.pyc
__pycache__/treewatcher.cpython-38.pyc
dist_treecopy/config.json
dist_treecopy/TreeWatcher_copybyterminal.exe
dist/config.json
dist/TreeWatcher.exe
dist/
